body{
	background-color: rgb(245, 242, 240);
}

#wrapper {
	width: 960px;
	margin: 50px auto 0;
	padding-left: 20px;
}

#sidebar {
	width: 224px;
	border-right: 1px solid #bbb0a3;
	float: left;
	padding-bottom: 50px;
}


/*--------------HEADER-------------------*/

header{
	font-family: 'Crimson Text', serif;
	width: 180px;
}

header>span{
	float: left;
	display: block;
	clear: both;
	font-family: "Crimson Text", serif;
	font-weight: 700;
	font-style: italic;
    vertical-align:text-top;
}

#oli {
	font-size: 150px;
	color: #43b8b9;
	line-height: 150px;
	margin: 0 0 -25px 0;
	padding: 0;
}

#lane {
	font-size: 96px;
	color: #71abc6;
	line-height: 105px;
}

#tagline {
	border-top: 5px dashed #bbb0a3;
	font-family: 'Roboto Slab', serif;
	font-style: normal;
	font-size: 38px;
	color: #362c06;
	line-height: 38px;
	padding: 20px 0 10px;
	margin: 0 0 20px 5px;
}

#tagline1 {
	font-size: 32px;
}

#tagline2 {
	font-size: 28px;
}

#tagline3 {
	font-size: 39px;
}

#tight-kern {
	letter-spacing: -0.1em;
}




/*---------------SIDE NAV-------------*/

#sidebar>nav {
	clear: both;
	text-align: right;
}

#sidebar nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#sidebar nav li {
	list-style: none;
}

#sidebar nav a {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	text-transform: uppercase;
	text-decoration: none;
	color: #362c06;
}

#sidebar nav a:hover {
	color: #7d60a8;
}

.sidebar-element {
    border-top: 1px solid #bbb0a3;
    text-align: center;
    margin-right: 40px;
	padding: 1.5em 0;
}

#sidebar .icons {
}

#sidebar .icons a {  
    margin: 10px 4px;	
}




/*---------------CONTENT----------------*/

section#content {
	float: right;
	width: 699px;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	padding-left: 30px;
}

.article-image {
	max-width: 660px;
	margin: 0.5em 0;
	-webkit-box-shadow:  1px 1px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow:  1px 1px 1px 2px rgba(0, 0, 0, 0.1);
}








/*--------------FIXES------------*/

/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

.clearfix-div {
	clear: both;
}