
body{
	background-color: #f8f8f8;
	color: #444444;
	font-family: "Helvetica Neue", "Open Source Sans", sans-serif;
}

#wrapper {
	width: 960px;
	margin: 50px auto 0;
	padding-left: 20px;
}

a {
	color: #888888;
}

/*--------------HEADER-------------------*/

header{
	background-color: #1d9d74;
	font-family: MuseoSlab-500;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	padding: 30px 0 60px;
	color: #FFFFFF;
}


header .jumbo {
	font-size: 90px;
	letter-spacing: 3px;
	line-height: 1;
	text-shadow: 4px 3px 0px #1d9d74, 9px 8px 0px rgba(0, 0, 0, 0.15);
	margin: 50px 0 0;
}



/*---------------UPFRONT NAV----------------*/

nav.upfront-nav{
	margin-top: 70px;
	font-family: "Lato", "Helvetica Neue", "Open Source Sans", sans-serif;
}

nav.upfront-nav a {
	font-size: 18px;
	line-height: 1.5em;
	text-decoration: none;
	color: #FFFFFF;
}

nav.upfront-nav a:hover {
	opacity: 0.8;
}

nav.upfront-nav ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	width: 560px; /* 140 x number of items */
}

nav.upfront-nav li {
	display: block;
	width: 100px;
	margin: 0 20px;
	float: left;
	list-style: none;
	text-align: center;
}

nav.upfront-nav i {
	margin-bottom: 10px;
}



#content {

background-color: #f5f5f5;
border-top: 1px solid #fff;
border-bottom: 1px solid #eee;
}


/*--------------FIXES------------*/

/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

.clearfix-div {
	clear: both;
}